main {
  min-height: 80vh;
}

h3{
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem,

}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
/* @media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
} */

.xyz {
  background-size: auto;
  text-align: center;
  padding-top: 100px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  position: fixed;
  margin-bottom: auto;
}

.bottom-right {
  bottom: 2rem;
  right: 2rem;
}

.bottom-right-1 {
  bottom: 6rem;
  right: 2rem;
}

.color-nav{
  background-color: #242582;
}

.color-car{
  background-color: #659DBD;
}